<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Phone Number</th>
    <th>User ID</th>
    <th>Actions</th>
  </tr>
  </thead>
  <br>
<tbody>
<% @contacts.each do |contact| %>
  <tr>
    <td><%= contact.first_name %></td>
    <td><%= contact.last_name %></td>
    <td><%= contact.email %></td>
    <td><%= contact.phone_number %></td>
    <td><%= contact.user.id %></td>
    <td><%= link_to "Edit", edit_contact_path(contact.id), class:"btn btn-outline-primary btn-sm"%> <%= link_to "Delete", contact, class:"btn btn-outline-danger btn-sm", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this contact?" } %> </td>
<!--    <br>-->

  </tr>
<% end %>
</tbody>
</table>

<!--<div id="contacts">-->
  <%# @contacts.each do |contact| %>
    <%#= render contact %>
<!--    <p><%#= link_to "View contact", contact %></p>-->
  <%# end %>

<!--</div>-->
<!--<br>-->
<% if user_signed_in? %>
<%= link_to "New contact", new_contact_path, class:"btn btn-outline-secondary btn-sm" %>
<% end %>